<div class="container" style="background-color: #111;">

  <div class="header-text">
    <h1 style="font-weight: 900; font-size: 2.6em; margin: 25px;">ABOUT ME</h1>
    <p style="font-size: 16px; margin: 25px;">A Software Developer and Youtuber</p>
    <p style="font-size: 16px; margin: 25px 25px;">I like to code and play video games</p>
    <p style="font-weight: 900; font-size: 16px; margin-top: 20px; color: #88f7ff;">Timeline</p>
    <button mat-icon-button (click)="tl.scrollIntoView({behavior:'smooth'})"><mat-icon style="transform: rotate(90deg); color: #88f7ff;">arrow_forward_ios</mat-icon></button>
  </div>

  <div class="containers">
    <div class="timeline">
      <ul>
        <li>
          <div class="timeline-content">
            <h1>Digital Specialist Engineer</h1>
            <i class="date">Nov 2020-Present</i>
            <a #tl style="position: absolute; top: -40px"></a>
            <p style="font-weight: 500; margin-bottom: 10px">INFOSYS</p>
            <p>Contributing indevelopement of automation solutions for different service-lines in central automation
              unit
              of the organisation.</p>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Bachelor of Technology (Hons.)</h1>
            <i class="date">2016-2020</i>
            <p style="font-weight: 500; margin-bottom: 10px">CGPA: 8.5</p>
            <p>Graduate in Computer Science and Engineering from Dr. APJ Abdul Kalam Technical University, Lucknow.</p>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Sr. Secondary School</h1>
            <i class="date">2015</i>
            <p style="font-weight: 500; margin-bottom: 10px">Score: 90%</p>
            <p>Central Board of Secondary Education</p>
          </div>
        </li>

        <li>
          <div class="timeline-content">
            <h1>Secondary School</h1>
            <i class="date">2013</i>
            <p style="font-weight: 500; margin-bottom: 10px">CGPA: 9.0</p>
            <p>Central Board of Secondary Education</p>
          </div>
        </li>

      </ul>
    </div>
  </div>

</div>