.container-fluid {
    background: #111;
    min-height: 100vh;
    padding: 40px;
}

.header-text {
    color: rgb(255, 255, 255);
    text-align: center;
}

.header-text > h1 {
    font-weight: 900;
}

.project-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    margin: 20px;
    width: 400px;
    background-color: white;
    color: rgb(68, 68, 68);
    transition: all 0.3s ease;
}

.project-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

