.container-fluid {
    background: #111;
    min-height: 100vh;
    padding: 40px;
}

.header-text {
    color: white;
    text-align: center;
}

.header-text > h1 {
    font-weight: 900;
}

.project-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    margin: 20px;
    width: 500px;
    background-color: #3f4044;
    color: white;
}


/* .project-card {
    width: 500px;
    min-height: 550px;
    background: rgb(44, 44, 44);
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px
}

.image-container {
    width: 100%;
}
.project-image {
    display: block;
    max-height: 100%;
    max-width: 100%;
} */
