.container-fluid {
    background: #111;
    min-height: 100vh;
    padding: 0 40px 40px 40px;
}

.header-text {
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10vh;
}

.header-text > h1 {
    font-weight: 900;
}

.project-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    margin: 20px;
    width: 300px;
    background-color: white;
    color: rgb(66, 66, 66);
    transition: all 0.2s ease;
}

.project-card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    color: #111;
}

