<div class="container-fluid">
    <div class="header-text">
        <h1>CONTACT</h1>

    <div class="social-links">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0 2vw 2vh 2vw;" *ngFor = "let skill of socialLinks">
                <a href={{skill.ref}} target="_blank">
                    <img src={{skill.src}} alt={{skill.alt}} width="100" style="margin-bottom: 2vh">    
                </a>
            </div>
        </div>
    </div>
</div>
