<div class="container-fluid">
    
    <div class="header-text">
        <h1>CONTACT</h1>
        <p>feel free to reach me at</p>
        <button mat-icon-button (click)="link.scrollIntoView({behavior:'smooth'})"><mat-icon style="transform: rotate(90deg); color: white;">arrow_forward_ios</mat-icon></button>
    </div>

    <div class="social-links">

        <div #link class="row">

            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 contact" style="padding: 10px 5px" *ngFor = "let skill of socialLinks">
                <a href={{skill.ref}} target="_blank">
                    <img src={{skill.src}} alt={{skill.alt}} width="100">    
                </a>
                <h5 style="margin-top: 20px">{{skill.alt}}</h5>
            </div>

        </div>
    </div>

</div>
