<div class="container-fluid">
    <div class="header-text">
        <h1>CONTACT</h1>
    </div>

    <div class="social-icons-container">
        <a class="social-icon" href="https://github.com/007HarshChaudhary" target="_blank">
            <img src="assets/github.png" alt="github" width="100">
        </a>
        <a class="social-icon" href="https://www.youtube.com/channel/UCd1rWoJN3v9rONdgVNQmwnQ" target="_blank">
            <img src="assets/yt_icon.png" alt="Youtube" width="120">
        </a>
        <a class="social-icon" href="https://www.linkedin.com/in/harshachaudhary007/" target="_blank">
            <img src="assets/linkedin.png" alt="linkedIn" width="100">
        </a>
        <a class="social-icon" href="https://www.instagram.com/its._.me_harsh/" target="_blank">
            <img src="assets/insta.png" alt="Instagram" width="100">
        </a>

        <a class="social-icon" href="https://www.facebook.com/001harsh" target="_blank">
            <img src="assets/fb_icon.png" alt="facebook" width="120">
        </a>
    
    </div>
</div>
